@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&display=swap');

:root{
    --fonte-destaque: "Anton", sans-serif;";
    --fonte-basica: Arial, Verdana, Sans-serif;
    --cor01: #916730;
    --cor02: #665033;
    --cor03: #BB771F;
    --cor04: #E68400;
    --cor05: #3C3328;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(197, 193, 193);
}

header{
    color: white;
    background-image: linear-gradient(var(--cor03), var(--cor01), var(--cor02));
    height: 200px;
}

header h1 {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    font-family: var(--fonte-destaque);
    text-align: center;
    font-size: 50px;
    color: rgba(241, 237, 237, 0.836);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.342);
}

header p {
    text-align: center;
    font-size: 1em;
    font-family: var(--fonte-destaque);
    color: rgba(241, 237, 237, 0.836);
    padding-bottom: 80px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.253);
}

nav {
    background-color: var(--cor02); 
    height: 20px; 
    padding: 10px;
    padding-bottom: 20px;

}

nav a {
    color: rgba(241, 237, 237, 0.836);
    font-weight: bolder;
    font-family: sans-serif;
    text-decoration: none;
    border-radius: 10px 0px 10px 0px;
    padding: 8px;
}

nav a:hover{
    background-color: var(--cor04);
    color: var(--cor05);
    padding: 12px;
    border-radius: 10px 0px 100px 0px;
    
}

abbr {
    text-decoration: none;
    
}

main{
    background-color: white;
    margin: auto;
    max-width: 800px;
    min-width: 320px;
    padding: 10px;
    box-shadow: 0px 2px 0px 2px rgba(0, 0, 0, 0.034);
    border-radius: 0px 0px 5px 5px;
}

main h1{
    font-family: var(--fonte-destaque);
    color: var(--cor05);
    background-image: linear-gradient(to right,var(--cor03),transparent);
    text-align: center;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.144);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.24);
}

main p {
    text-indent: 2em;
    font-family: var(--fonte-basica);
    font-size: 1.2em;
    padding: 10px;
    text-align: justify;
}

img {
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    display: block;
    padding: 10px;
}

main h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor05);
    background-image: linear-gradient(to right,var(--cor03),transparent);
    text-align: center;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.144);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
}

main > p > a {
    text-decoration: none;
    margin: auto;
    color: black;
    font-weight: bolder;

}
main > p > a:hover{
    background-color: rgb(245, 144, 164);
    padding: 5px;
    box-shadow: 2px 2px brgba(0, 0, 0, 0.068);
    border-radius: 22px 0px 22px 0px;
}

.video {
   background-color: var(--cor03);
    margin: 10px -3px 30px -3px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;

}
.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

ol{
    background-color: var(--cor03);
    color: black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.219);
    font-family: var(--fonte-basica);
    list-style-position: inside;
    columns: 1; 
    font-weight: bolder;   
}

li a{
    text-decoration: none;
    color: var(--cor05);
    background-color: var(--cor04);
    border-radius: 5px;
}

li a:hover {
    background-color:var(--cor03);
    color: var(--cor05);
}

footer{
    background-color:var(--cor03);
    height: 40px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.849);
}

footer p {
    font-size: 14px;
    color: white;
    text-align: center;
    font-family: var(--fonte-basica);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.048);
}